.btn.btn-lg {
  padding: 2px 12px; }

.btn.btn-sm {
  padding: 2px 12px; }

.container-fluid .row {
  margin: 0; }

.table-template .ReactVirtualized__Table__headerRow {
  background-color: #B4C5D5;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: none;
  vertical-align: middle;
  text-align: center; }

.table-template .ReactVirtualized__Table__row {
  border-bottom-style: solid;
  border-bottom-color: #E6E7E8;
  border-bottom-width: thin;
  outline: none; }

.table-template .ReactVirtualized__Table__rowColumn {
  word-wrap: break-word;
  text-align: center;
  text-overflow: clip;
  white-space: pre-wrap;
  margin: 5px; }

.table-template .ReactVirtualized__Table__headerColumn {
  word-break: break-all;
  text-align: center; }

.table-template .ReactVirtualized__Table__Grid {
  outline: none; }

.table-template #drl-checkbox {
  background-color: #B2B6B7; }

.table-template .no-alerts {
  margin-left: 10px;
  font-size: 32px;
  padding: 0;
  color: #B2B6B7; }

.table-template .table-row-grey .ReactVirtualized__Table__row {
  background: #E6E7E8; }

.table-template .record-count {
  padding-top: 10px;
  border-top-color: #E6E7E8;
  border-top-style: solid;
  border-top-width: thin; }

.table-template .btn {
  padding: 0 20px 0 0;
  color: #5FC6CF;
  font-size: 17px;
  outline: none; }

.table-template .alert-icon .btn {
  font-size: 32px;
  padding: 0;
  left: 10px; }
  .table-template .alert-icon .btn .new-alert {
    color: #ED1C24; }
  .table-template .alert-icon .btn .no-new-alert {
    color: #B2B6B7; }

.table-template .alert-icon .alert-badge {
  position: absolute;
  left: 28px;
  z-index: 10; }

.table-template .alert-icon .badge.alert-badge {
  min-width: 25px; }

@media screen and (max-width: 768px) {
  .table-template .ReactVirtualized__Table__rowColumn {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; } }
